<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    
     
    <title>lamptan</title>
  </head>
  <body>
<!--body-->
    
      <div class="container">
        <!--about_certificate-->
        <section id="about_certificate">
	        <div class="row">
	            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
	              <div class="about_txt_title text-uppercase  ">
	                certificate
	              <hr/>
	              </div>
	            </div>
	        </div>
         	
         	<div class="row mt-4">
         		<!--1-->
            	<div class=" col-12 col-sm-6  col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center mb-3" >
	                <div class="about_card">
	                  <%= image_tag("assets/images/certificate/certificate_1.jpg"), class: "card-img-top i_cn_lampton_diy_img") %>
	                  <!--<img class="card-img-top i_cn_lampton_diy_img" src="assets/images/certificate/certificate_1.jpg" alt="Card image cap">-->
	                  <div class="card-body about_card_body">
	                    <p class="card-text about_txt">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                  </div>
	                </div>
				</div>

				<!--2-->
				<div class="col-12  col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center mb-3" >
                
	                <div class="ml-lg-1 about_card" >
	                	<%= image_tag("assets/images/certificate/certificate_2.jpg"), class: "card-img-top i_cn_lampton_diy_img") %>
	                  <!--<img class="card-img-top i_cn_lampton_diy_img" src="assets/images/certificate/certificate_2.jpg" alt="Card image cap">-->
	                  <div class="card-body about_card_body">
	                    <p class="card-text about_txt">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                  </div>
	                </div>
				</div>
				
				<!--3-->
	            <div class="col-12  col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center mb-3" >
	                <div class="ml-lg-1 about_card">
	                  <%= image_tag("assets/images/certificate/certificate_3.jpg"), class: "card-img-top i_cn_lampton_diy_img") %>
	                  <!--<img class="card-img-top i_cn_lampton_diy_img" src="assets/images/certificate/certificate_3.jpg" alt="Card image cap">-->
	                  <div class="card-body about_card_body">
	                    <p class="card-text about_txt">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                  </div>
	                </div>
				</div>
				<!--4-->
            	<div class=" col-12 col-sm-6  col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center mb-3" >
	                <div class="about_card">
	                	<%= image_tag("assets/images/certificate/certificate_4.jpg"), class: "card-img-top i_cn_lampton_diy_img") %>
	                  <!--<img class="card-img-top i_cn_lampton_diy_img" src="assets/images/certificate/certificate_4.jpg" alt="Card image cap">-->
	                  <div class="card-body about_card_body">
	                    <p class="card-text about_txt">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                  </div>
	                </div>
				</div>

				<!--5-->
				<div class="col-12  col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center mb-3" >
	                <div class="ml-lg-1 about_card" >
	                  <%= image_tag("assets/images/certificate/certificate_5.jpg"), class: "card-img-top i_cn_lampton_diy_img") %>
	                  <!--<img class="card-img-top i_cn_lampton_diy_img" src="assets/images/certificate/certificate_5.jpg" alt="Card image cap">-->
	                  <div class="card-body about_card_body">
	                    <p class="card-text about_txt">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                  </div>
	                </div>
				</div>
				
				<!--6-->
	            <div class="col-12  col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center mb-3" >
	                <div class="ml-lg-1 about_card">
	                 
	                  <%= image_tag("assets/images/certificate/certificate_6.jpg"), class: "card-img-top i_cn_lampton_diy_img") %> <!--<img class="card-img-top i_cn_lampton_diy_img" src="assets/images/certificate/certificate_6.jpg" alt="Card image cap">-->
	                  <div class="card-body about_card_body">
	                    <p class="card-text about_txt">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                  </div>
	                </div>
				</div>
				<!--7-->
				<div class=" col-12 col-sm-6  col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center mb-3" >
	                <div class="about_card">
	                	<%= image_tag("assets/images/certificate/certificate_7.jpg"), class: "card-img-top i_cn_lampton_diy_img") %>
	                  <!--<img class="card-img-top i_cn_lampton_diy_img" src="assets/images/certificate/certificate_7.jpg" alt="Card image cap">-->
	                  <div class="card-body about_card_body">
	                    <p class="card-text about_txt">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                  </div>
	                </div>
				</div>

				 <!--8-->
				<div class="col-12  col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center mb-3" >
               
	                <div class="ml-lg-1 about_card" >
	                	<%= image_tag("assets/images/certificate/certificate_8.jpg"), class: "card-img-top i_cn_lampton_diy_img") %>
	                  <!--<img class="card-img-top i_cn_lampton_diy_img" src="assets/images/certificate/certificate_8.jpg" alt="Card image cap">-->
	                  <div class="card-body about_card_body">
	                    <p class="card-text about_txt">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                  </div>
	                </div>
				</div>
				<!--9-->
	            <div class="col-12  col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center" >
	                <div class="ml-lg-1 about_card">
	                	<%= image_tag("assets/images/certificate/certificate_9.jpg"), class: "card-img-top i_cn_lampton_diy_img") %>
	                  <!--<img class="card-img-top i_cn_lampton_diy_img" src="assets/images/certificate/certificate_9.jpg" alt="Card image cap">-->
	                  <div class="card-body about_card_body">
	                    <p class="card-text about_txt">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                  </div>
	                </div>
				</div>
            </div>


	        <div class="row">
	          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center "><button type="button" class="btn btn-outline-dark about_button btn-md strong btn_tb">LOAD MORD</button></div>
	        </div>
        </section>
    </div>
    
    <!--about_certificate-->

    
    
    
     

    <!--body--> 
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    

   <link rel="stylesheet" href="assets/css/index.css">
    
  </body>
</html>